enrichment.type=malicious_domain
enrichment.config.file=generated/cyb-444/triage/enrichments-storage.json

enrichment.source.skipfirstline=false
enrichment.source.columns=domain,source

parallelism=1

# uncomment for local enrichment
enrichment.topic.input=BRANCH.cyb-444.enrichments.input

flink.job.name=BRANCH.cyb-444.load.malicious_domain
